.slick-arrow.slick-prev{

    width: 47px;
    height: 104px;
}
.slick-arrow.slick-next{
    width: 47px;
    height: 104px;
}

.slick-prev{
    left:-50px;
}
.slick-next{
    right: -50px;
}

.slick-prev::before, .slick-next::before{
    display:none;
    content: "";
}

.slick-slide {
        margin-left:0px;
        margin-right:0px;
     }

  